In [ ]:
import pandas as pd
path="/Users/pranathi/Library/CloudStorage/OneDrive-ErasmusUniversityRotterdam/Masters/Case_Study_AH/download/"
file_train_product="training/product_details_train.csv"
file_train_calender="training/calendar.csv"
file_train_promo="training/promotion_details_train.csv"
file_train_transaction="training/transactions_train.csv"
file_train_weather="training/weather_data.csv"


file_forecast_product="forecasting/forecast_product_details.csv"
file_forecast_calender="forecasting/forecast_calendar.csv"
file_forecast_promo="forecasting/forecast_promotion_details.csv"
file_forecast_transaction="forecasting/forecast_transactions.csv"

In [41]:
# Importing training data
df_calendar_train = pd.read_csv(path+file_train_calender, sep=';', engine='python')
df_product_details_train = pd.read_csv(path+file_train_product, sep=';', engine='python')
df_promotion_details_train = pd.read_csv(path+file_train_promo, sep=';', engine='python')
df_transactions_train = pd.read_csv(path+file_train_transaction, sep=';', engine='python')
df_weather_train = pd.read_csv(path+file_train_weather, sep=';', engine='python')

# Importing forecasting data
df_calendar_forecast = pd.read_csv(path+file_forecast_calender, sep=';', engine='python')
df_product_details_forecast = pd.read_csv(path+file_forecast_product, sep=';', engine='python')
df_promotion_details_forecast = pd.read_csv(path+file_forecast_promo, sep=';', engine='python')
df_transactions_forecast = pd.read_csv(path+file_forecast_transaction, sep=';', engine='python')

# List of Training DataFrames
train_dfs = [
    df_calendar_train,
    df_product_details_train,
    df_promotion_details_train,
    df_transactions_train,
    df_weather_train
]

# List of Forecasting DataFrames
forecast_dfs = [
    df_calendar_forecast,
    df_product_details_forecast,
    df_promotion_details_forecast,
    df_transactions_forecast
]

# Names of dataframes
train_names = ['Calendar', 'Product', 'Promotion', 'Transactions', 'Weather']
forecast_names = ['Calendar', 'Product', 'Promotion', 'Transactions']

In [36]:
df_merged = df_product_details_train.merge(df_transactions_train, on='articleId',how='inner')
len(df_merged)

343849

In [ ]:
df_merged

,articleId,category,mainProductGroup,date,storeCount,FSC_index,sales_volume_index,promo_id
0,0112d194d01727f5f5ba3c835c9ef20b76a3432d74f771...,"Vlees, Kip en Vis",Vlees,01-01-2021,619,100.000000,100.000000,NaN
1,0112d194d01727f5f5ba3c835c9ef20b76a3432d74f771...,"Vlees, Kip en Vis",Vlees,02-01-2021,894,168.861386,675.253809,NaN
2,0112d194d01727f5f5ba3c835c9ef20b76a3432d74f771...,"Vlees, Kip en Vis",Vlees,03-01-2021,833,156.435644,299.038072,NaN
3,0112d194d01727f5f5ba3c835c9ef20b76a3432d74f771...,"Vlees, Kip en Vis",Vlees,04-01-2021,892,167.805281,359.316543,NaN
4,0112d194d01727f5f5ba3c835c9ef20b76a3432d74f771...,"Vlees, Kip en Vis",Vlees,05-01-2021,892,168.151815,445.507165,NaN
...,...,...,...,...,...,...,...,...
343844,ff3fbb8f7ee1a02cb129cf4b5ec3c930e6f821b28701dd...,"Vlees, Kip en Vis",Visconserven,26-11-2024,808,131.190476,194.767851,NaN
343845,ff3fbb8f7ee1a02cb129cf4b5ec3c930e6f821b28701dd...,"Vlees, Kip en Vis",Visconserven,27-11-2024,810,131.516291,178.463029,NaN
343846,ff3fbb8f7ee1a02cb129cf4b5ec3c930e6f821b28701dd...,"Vlees, Kip en Vis",Visconserven,28-11-2024,812,131.842105,197.165111,NaN
343847,ff3fbb8f7ee1a02cb129cf4b5ec3c930e6f821b28701dd...,"Vlees, Kip en Vis",Visconserven,29-11-2024,812,131.842105,150.769381,NaN
343848,ff3fbb8f7ee1a02cb129cf4b5ec3c930e6f821b28701dd...,"Vlees, Kip en Vis",Visconserven,30-11-2024,812,131.842105,95.027902,NaN

In [39]:
#number of days between 01/01/2021-30/11/2024
import pandas as pd
from datetime import date

# Calculate total days between 01/01/2021 and 30/11/2024
start_date = date(2021, 1, 1)
end_date = date(2024, 11, 30)
total_days = (end_date - start_date).days + 1  # +1 includes both start/end
print(f"Total days: {total_days}")  # 1432 days

Total days: 1430

In [ ]:
# Count unique dates (days) per articleId
days_per_article = df_merged.groupby('articleId')['date'].nunique().reset_index()
days_per_article.columns = ['articleId', 'unique_days_count']

print("Days of data per article:")
print(days_per_article.head(10))
print(f"\nSummary statistics:")
print(days_per_article['unique_days_count'].describe())

# Distribution of days coverage
print("\nDays distribution:")
print(days_per_article['unique_days_count'].value_counts().sort_index())

# Articles with most/least coverage
print("\nTop 5 articles by days:")
print(days_per_article.nlargest(5, 'unique_days_count'))

print("\nBottom 20 articles by days:")
print(days_per_article.nsmallest(20, 'unique_days_count'))

Days of data per article:
                                           articleId  unique_days_count
0  0112d194d01727f5f5ba3c835c9ef20b76a3432d74f771...                935
1  030c9c75de06d0aee298db030bf76b1933bb5a9a28e3fb...               1430
2  03a945e32405653c15915432f70ca7ec3b3709fe6abf28...               1430
3  05f353ef4d503dd53818830120f4f479815b22d5ecc1c5...               1430
4  06e708c215c11fe45c8b08104348be1cbdbd7ab7c1bf3e...               1430
5  08de1ee6ef87f89799ac617cd8dded4209dd6abf6d8012...               1430
6  09626761cbe18bcd3936ea7fcb2d124e8400adec275b7c...               1428
7  0a2444a44e8f1e9836b3439d19388b602df384d97c7b6c...               1430
8  0b5ca6606b480ebaa00f4f6c39a04f21a3c915c07b1f2e...               1430
9  0b6d4dad6a7d12196ea20d88d824342b5620ad8d975ba2...               1430

Summary statistics:
count     248.000000
mean     1386.487903
std       212.691752
min        57.000000
25%      1430.000000
50%      1430.000000
75%      1430.000000
max      1430.000000
Name: unique_days_count, dtype: float64

Days distribution:
unique_days_count
57        1
63        1
124       1
150       1
209       1
243       1
394       1
935       1
1029      1
1108      1
1283      1
1324      1
1327      1
1339      1
1370      1
1376      1
1385      1
1403      1
1411      1
1413      1
1415      2
1418      1
1419      1
1420      1
1421      1
1422      1
1423      1
1425      1
1426      3
1427      4
1428      5
1429      8
1430    199
Name: count, dtype: int64

Top 5 articles by days:
                                           articleId  unique_days_count
1  030c9c75de06d0aee298db030bf76b1933bb5a9a28e3fb...               1430
2  03a945e32405653c15915432f70ca7ec3b3709fe6abf28...               1430
3  05f353ef4d503dd53818830120f4f479815b22d5ecc1c5...               1430
4  06e708c215c11fe45c8b08104348be1cbdbd7ab7c1bf3e...               1430
5  08de1ee6ef87f89799ac617cd8dded4209dd6abf6d8012...               1430

Bottom 5 articles by days:
                                             articleId  unique_days_count
25   228f3c2ee9b0d85b64c6817e095789127fefbf3d8350bf...                 57
224  f0b0f41ed38369127377ae67060731d0df64a44299fbbf...                 63
107  736996384720ecc7ccbd7925fc4b9e4b2334ecdbc4aff1...                124
222  ef23f965fa9b01b1e35064be2c6c7d9313e7ed64badb9b...                150
29   24147bacb85282416ac008c512980bc002716692fa397c...                209
158  aa326a732cb5c86829a34773e38480941edf5a1ff0ca6d...                243
193  db71a4ec04ffb994554d20bbfe77474136110b2cb71d7c...                394
0    0112d194d01727f5f5ba3c835c9ef20b76a3432d74f771...                935
153  a175a1e1796a232a4f2a4db249532eb626eb0ff8eede43...               1029
19   191d0ee5a8feb75a4edf6e09489e775c8bce11df7bcdf0...               1108
21   1cc4a3406472bd228a203da2d36bbcefa38de0992bf46a...               1283
211  e7741ea8da13564bc3a3ffb66eaf4c65e7b7ed512d0227...               1324
14   108cb88edc1c8ec1354e989acb251f2ec4b33e3ac2ec43...               1327
200  e1d7b24a2406af5fa3109903b21e86e028ad40a50f1010...               1339
230  f277a3987cd076f21e30d6481895159ca5b191beb9b90e...               1370
32   254c673ad1b96751c96a4f5dd6a74b43bf29acaf87a260...               1376
13   0fb8d697fde9e0b3bd1540a1eba1f0a2c70805aa058991...               1385
50   344c5ddd208c37802b3a851ff63f00c64c8c84c9935fef...               1403
113  76763dff0a0dd925f85816e7e925693b466345d27f3e39...               1411
131  8877e04b9c0d81f9a3fa402e17c7e19824c80e6c09b471...               1413